data/*/*.bat
data/*/*.sh
data/*/*.py

data/**/list.txt
tool/.idea
tool/target
tool/tool.*

**/__pycache__
**/*.pyc


script/analyze/*.html

script/spider
script/spider

script/export/*.txt
script/export/*.sql
tmp